* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 10%;
  font-size: larger;
}

label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: purple;
  font-weight: bold;
}
